* {
  margin: 0;
  padding: 0; }

html {
  font-size: 20px; }

.game .topBar {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 2.5rem;
  background-color: #00ff7f; }
  .game .topBar .level {
    margin-left: -0.8rem;
    margin-top: 0.5rem; }
  .game .topBar .health {
    display: flex;
    margin-top: 0.2rem; }
    .game .topBar .health .hIcon {
      width: 1.8rem;
      height: 2rem;
      background: url(../img/yuol-static.png) no-repeat center/cover; }
    .game .topBar .health .ht {
      margin-top: 0.3rem;
      margin-left: 0.3rem; }
  .game .topBar .score {
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem; }
    .game .topBar .score .current {
      font-size: 0.8rem;
      font-weight: 700;
      color: #ff0044; }
    .game .topBar .score .high {
      font-size: 0.8rem;
      font-weight: 700;
      color: #0800ff; }

.game .gameBg {
  position: relative;
  height: calc(100vh - 2.5rem);
  background-color: #aaffff; }
  .game .gameBg .miyako-youl {
    position: absolute;
    bottom: 0;
    width: 2.8rem;
    height: 3rem;
    background: url(../img/yuol-static.png) no-repeat center/cover; }
  .game .gameBg .pudding-0-0 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p1.png) no-repeat center/cover; }
  .game .gameBg .pudding-1-0 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p2.png) no-repeat center/cover; }
  .game .gameBg .pudding-2-0 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p3.png) no-repeat center/cover; }
  .game .gameBg .pudding-0-1 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p1.png) no-repeat center/cover; }
  .game .gameBg .pudding-1-1 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p2.png) no-repeat center/cover; }
  .game .gameBg .pudding-2-1 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p3.png) no-repeat center/cover; }
  .game .gameBg .pudding-0-2 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p1.png) no-repeat center/cover; }
  .game .gameBg .pudding-1-2 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p2.png) no-repeat center/cover; }
  .game .gameBg .pudding-2-2 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p3.png) no-repeat center/cover; }
  .game .gameBg .pudding-0-3 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p1.png) no-repeat center/cover; }
  .game .gameBg .pudding-1-3 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p2.png) no-repeat center/cover; }
  .game .gameBg .pudding-2-3 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p3.png) no-repeat center/cover; }
  .game .gameBg .pudding-0-4 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p1.png) no-repeat center/cover; }
  .game .gameBg .pudding-1-4 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p2.png) no-repeat center/cover; }
  .game .gameBg .pudding-2-4 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p3.png) no-repeat center/cover; }
  .game .gameBg .pudding-0-5 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p1.png) no-repeat center/cover; }
  .game .gameBg .pudding-1-5 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p2.png) no-repeat center/cover; }
  .game .gameBg .pudding-2-5 {
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/puddings/p3.png) no-repeat center/cover; }
