* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #7bf6ff;
}

.title {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 30vh;

	img {
		position: relative;
		height: 64px;
		border-color: blue;
		border-width: 3px;
		border-style: solid;
		border-radius: 50%;
	}

	.text {
		position: relative;
		font-size: 36px;
		margin-left: 24px;
	}
}

.links {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 35vh;
	font-size: 28px;

	a {
		text-decoration: none;
		margin-top: 24px;
	}
}