@media screen and (max-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px) {
	html {
		font-size: 20px;
	}
}

* {
	margin: 0;
	padding: 0;
}

.game {
	position: absolute;
	width: 100%;

	.topBar {
		position: relative;
		display: flex;
		height: 55px;
		width: 100%;
		align-items: center;
		justify-content: space-around;
		background-color: #6effab;

		.props {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			.name {
				position: relative;
			}

			img {
				position: relative;
				height: 36px;
				margin-left: 7px;
			}

			.count {
				position: relative;
				margin-left: 3px;
			}
		}

		.weapon {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			.name {
				position: relative;
			}

			img {
				position: relative;
				margin-left: 7px;
			}

			.count {
				position: relative;
				margin-left: 3px;
			}
		}

		.level {
			position: relative;
			font-size: 24px;
		}

		.health {
			position: relative;
			display: flex;

			img {
				width: 45px;
				height: 46px;
			}

			.t {
				font-size: 30px;
				margin-left: 10px;
			}
		}

		.scorePanel {
			position: relative;
			display: flex;

			.currentScore {
				position: relative;
				right: 20px;
				font-size: 26px;
				color: #ff00c4;
			}

			.highScore {
				position: relative;
				left: 20px;
				font-size: 26px;
				color: #001ddb;
			}
		}

	}

	.gameBg {
		position: relative;
		width: 100%;
		height: calc(100vh - 55px);
		background-color: #aaffff;

		.miyako {
			position: absolute;
			left: 0px;
			width: 110px;
			height: 108px;
			background: url(../img/miyako-normal.png) no-repeat center/cover;
		}

		//布丁的贴图和大小位置设置
		//布丁1
		@for $i from 0 through 1 {
			@for $j from 0 through 7 {
				.pudding-#{$i}-#{$j} {
					position: absolute;
					width: 60px;
					height: 60px;
					background: url(../img/puddings/p1.png) no-repeat center/cover;
				}
			}
		}

		//布丁2
		@for $i from 0 through 7 {
			.pudding-2-#{$i} {
				position: absolute;
				width: 60px;
				height: 60px;
				background: url(../img/puddings/p2.png) no-repeat center/cover;
			}
		}

		//布丁3
		@for $i from 0 through 7 {
			.pudding-3-#{$i} {
				position: absolute;
				width: 60px;
				height: 60px;
				background: url(../img/puddings/p3.png) no-repeat center/cover;
			}
		}
	}
}

.loading {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: #c2ffff;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.loadingComponent {
		position: relative;
		display: flex;
		align-items: center;

		.loadingImg {
			position: relative;
			right: 0.5rem;
		}

		.loadingText {
			position: relative;
			left: 0.5rem;
			font-size: 2rem;
		}
	}

	.processBar {
		position: relative;
		width: 350px;
		height: 18px;
		margin-top: 16px;
		border-color: blue;
		border-width: 3px;
		border-style: solid;

		.processValue {
			position: absolute;
			top: -0.5px;
			width: 0;
			height: 19px;
			background-color: greenyellow;
		}
	}

	.processNum {
		position: relative;
		margin-top: 5px;
	}
}

.notsupport {
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: #c2ffff;

	.notsupportImg {
		position: relative;
		width: 3.5rem;
		margin-left: 0.5rem;
		border-radius: 50%;
		border-style: solid;
		border-width: 0.3rem;
		border-color: #014dff;
	}

	.notsupportText {
		position: relative;
		display: flex;
		margin-left: 1.5rem;
		font-size: 1.5rem;
	}
}

.start {
	position: absolute;
	box-sizing: border-box;
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background-color: #c2ffff;

	.title {
		display: flex;
		justify-content: center;
		margin-top: 10vh;

		.main {
			position: relative;
			width: 600px;
			height: 150px;
			bottom: 24px;
			background: url(../img/textImg/title.png) no-repeat center/cover;
		}

		.avatar {
			width: 95px;
			height: 95px;
			margin-right: 20px;
			border-radius: 50%;
			border-color: #ff02bc;
			border-width: 3px;
			border-style: solid;
		}
	}

	.menu {
		position: relative;
		top: -10px;
		list-style: none;
		user-select: none;


		li {
			margin-top: 35px;
			text-align: center;
			font-size: 38px;
			color: #ff5500;

			&:hover {
				cursor: pointer;
				color: #00a6ff;
				background-color: #dfdeff;
			}
		}
	}

	.userInfo {
		position: absolute;
		display: flex;
		right: 50px;
		top: 15px;
		user-select: none;

		.login {
			margin-right: 10px;

			&:hover {
				cursor: pointer;
				color: #ffffff;
				background-color: #0400ff;
				border-radius: 3px;
			}
		}

		.register {
			&:hover {
				cursor: pointer;
				color: #ffffff;
				background-color: #ff00aa;
				border-radius: 3px;
			}
		}

		.player {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				height: 35px;
				width: 35px;
				border-style: solid;
				border-width: 1px;
				border-color: #ff5500;
				border-radius: 50%;
				margin-right: 10px;
			}

			.pointer {
				font-size: 28px;
				margin-left: 8px;
			}
		}

		.userPanel {
			position: absolute;
			display: none;
			left: 45px;
			top: 38px;
			background-color: rgba(255, 255, 255, 0.7);

			.userPanelList {
				font-size: 16px;
				line-height: 28px;
				text-align: center;
				width: 76px;
				list-style: none;

				li {
					height: 28px;
					border-color: rgb(255, 153, 0);
					border-style: solid;
					border-width: 1.5px;

					&:hover {
						cursor: pointer;
						color: #ffffff;
						background-color: #0400ff;
					}
				}

				.logoutButton {
					border-top-style: none;
				}
			}
		}
	}
}

.failed {
	position: absolute;
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);

	.t1 {
		display: inline-block;
		margin-top: 12vh;
		width: 100%;
		font-size: 68px;
		color: orangered;
		text-align: center;
	}

	.say {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		margin-top: 20px;
		margin-right: 25px;

		.t2 {
			font-size: 24px;
			color: #014dff;
		}

		.avatar {
			width: 80px;
			height: 80px;
			margin-right: 20px;
			border-radius: 50%;
			border-color: #19fff8;
			border-width: 3px;
			border-style: solid;
		}
	}

	ul {
		list-style: none;
		margin-top: 90px;
		user-select: none;

		li {
			margin-top: 45px;
			text-align: center;
			font-size: 38px;
			color: #ff007f;

			&:hover {
				cursor: pointer;
				color: #00a6ff;
				background-color: #dfdeff;
			}
		}
	}
}

.succeed {
	position: absolute;
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);

	.t1 {
		display: inline-block;
		margin-top: 12vh;
		width: 100%;
		font-size: 68px;
		color: orangered;
		text-align: center;
	}

	.say {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		margin-top: 20px;
		margin-right: 25px;

		.t2 {
			font-size: 24px;
			color: #014dff;
		}

		.avatar {
			width: 80px;
			height: 80px;
			margin-right: 20px;
			border-radius: 50%;
			border-color: #19fff8;
			border-width: 3px;
			border-style: solid;
		}
	}

	ul {
		list-style: none;
		margin-top: 45px;
		user-select: none;

		li {
			margin-top: 45px;
			text-align: center;
			font-size: 38px;
			color: #ff007f;

			&:hover {
				cursor: pointer;
				color: #00a6ff;
				background-color: #dfdeff;
			}
		}
	}
}

.pause {
	position: absolute;
	display: none;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.8);
	justify-content: center;
	align-items: center;

	img {
		position: relative;
		height: 75px;
		border-radius: 25%;
	}

	.text {
		position: relative;
		font-size: 36px;
		margin-left: 18px;
	}
}

.help {
	div {
		position: relative;
		width: 80%;
		margin-top: 24px;
	}

	.introduce {
		font-size: 24px;
		margin-top: 28px;
	}

	.t1 {
		img {
			height: 48px;
		}

		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 20px;
		box-sizing: border-box;
	}

	.ok {
		position: absolute;
		width: 100px;
		bottom: 28px;

		&:hover {
			background-color: blue;
		}
	}
}

.shop {
	.frame {
		.text {
			position: absolute;
			top: 25px;
			font-size: 24px;
		}

		.total {
			position: absolute;
			left: 7px;
			top: 2px;
			font-size: 16px;
			color: #ff007f;
		}

		.current {
			position: absolute;
			left: 250px;
			top: 2px;
			font-size: 16px;
			color: #0004d4;
		}

		.item {
			position: absolute;
			top: 75px;
			left: 6.5px;
			width: 580px;
			height: 135px;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-style: solid;
			border-width: 3px;
			border-color: #ff02bc;
			border-radius: 5px;
			user-select: none;

			ul {
				position: absolute;
				width: 100%;
				height: 90px;
				top: 35px;
				overflow: auto;

				li {
					display: flex;
					justify-content: space-around;
					align-items: center;
					margin-top: 2px;

					img {
						height: 28px;
					}

					.countButtonBox {
						display: flex;
						width: 175px;
						justify-content: space-around;
						align-items: center;
						font-size: 16px;

						* {
							&:hover {
								cursor: pointer;
								color: white;
								background-color: blue;
								border-radius: 3px;
							}
						}
					}
				}

			}
		}

		.weapon {
			position: absolute;
			top: 225px;
			left: 6.5px;
			width: 580px;
			height: 165px;
			display: flex;
			flex-direction: column;
			align-items: center;
			border-style: solid;
			border-width: 3px;
			border-color: #ff5500;
			border-radius: 5px;
			user-select: none;

			ul {
				overflow: auto;
				width: 100%;
				height: 125px;
				top: 35px;
				overflow: auto;

				li {
					display: flex;
					justify-content: space-around;
					align-items: center;
					margin-top: 2px;

					img {
						height: 18px;
					}

					.countButtonBox {
						display: flex;
						width: 175px;
						justify-content: space-around;
						align-items: center;
						font-size: 16px;

						* {
							&:hover {
								cursor: pointer;
								color: white;
								background-color: blue;
								border-radius: 3px;
							}
						}
					}
				}
			}
		}

		.buttonBox {
			position: absolute;
			top: 408px;
			left: 6.5px;
			width: 580px;
			display: flex;
			justify-content: space-evenly;
			align-items: center;

			.ok,
			.cancel {
				font-size: 18px;
				position: relative;
				width: 42px;
			}

			.ok {
				&:hover {
					background-color: #9900ff;
				}
			}

			.cancel {
				&:hover {
					background-color: #ff4800;
				}
			}
		}
	}
}

.leaderboard {
	.frame {
		.leadTitle {
			position: absolute;
			top: 18px;
			font-size: 26px;
		}

		img {
			height: 35px;
			width: 35px;
			border-style: solid;
			border-width: 1px;
			border-color: #ff5500;
			border-radius: 50%;
		}

		.pointer {
			position: relative;
			display: flex;
			justify-content: start;
			align-items: center;
			top: 58px;
			width: 560px;
			color: #ff016b;
			font-size: 24px;

			.t1 {
				margin-left: 56px;
			}

			.t2 {
				margin-left: 145px;
			}

			.t3 {
				margin-left: 130px;
			}

		}

		.total {
			position: relative;
			width: 560px;
			height: 210px;
			border-width: 2px;
			border-style: solid;
			border-color: blue;
			border-radius: 5px;
			top: 64px;
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;

			.title {
				position: relative;
			}

			ul {
				list-style: none;
				width: 560px;
				height: 180px;
				overflow: auto;

				li {
					display: flex;
					justify-content: start;
					align-items: center;
					margin-top: 8px;

					.nickname {
						position: relative;
						width: 200px;
						margin-left: 28px;
						display: flex;
						justify-content: start;
						align-items: center;

						img {
							position: relative;
							margin-right: 6px;
						}

						.text {
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}

					.score {
						position: relative;
						margin-left: 36px;
						width: 180px;
					}
				}
			}
		}

		.me {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;
			top: 68px;
			width: 560px;
			height: 80px;
			border-width: 2px;
			border-style: solid;
			border-color: rgb(255, 115, 0);
			border-radius: 5px;

			.content {
				position: relative;
				display: flex;
				justify-content: start;
				align-items: center;
				width: 560px;

				.nickname {
					position: relative;
					width: 200px;
					margin-left: 28px;
					display: flex;
					justify-content: start;
					align-items: center;

					img {
						position: relative;
						margin-right: 6px;
					}

					.text {
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				.score {
					position: relative;
					margin-left: 36px;
					width: 180px;
				}
			}
		}

		.ok {
			position: relative;
			top: 80px;
			width: 80px;

			&:hover {
				background-color: #ff4800;
			}
		}
	}
}

.userInfoUpdate {
	.frame {
		.title {
			position: relative;
			font-size: 28px;
			top: 32px;
		}

		.formBody {
			position: relative;
			top: 46px;
			width: 560px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.avatar {
				position: relative;
				width: 450px;
				top: 12px;
				display: flex;
				justify-content: center;
				align-items: center;

				.file {
					position: relative;
					width: 100px;
					height: 26px;

					.button {
						position: absolute;
						font-size: 20px;
						width: 100px;
						height: 26px;
						background-color: #ff5e00;
						color: white;
						text-align: center;
						border-radius: 4px;
					}

					//上传图片按钮
					input {
						position: absolute;
						width: 100px;
						height: 26px;
						opacity: 0;
					}
				}

				.preTip {
					position: relative;
					margin-left: 25px;
				}

				.preview {
					position: relative;
					height: 64px;
					width: 64px;
					border-radius: 50%;
					border-width: 2.5px;
					border-color: blue;
					border-style: solid;
				}

				.avatarTip {
					position: absolute;
					font-size: 14px;
					top: 55px;
					left: 47px;
					color: red;
				}
			}

			.nickname,
			.email,
			.pwd {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 20px;
			}

			.nickname {
				margin-top: 35px;
			}

			.pwd {
				left: -21px;
			}
		}

		.buttons {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			bottom: 45px;

			.ok,
			.close {
				position: relative;
				height: 36px;
				line-height: 36px;
				width: 150px;

				&:hover {
					background-color: #ff4800;
				}
			}

			.close {
				margin-left: 36px;
			}
		}

		.del {
			position: absolute;
			right: 6px;
			bottom: 6px;
			font-size: 18px;
			color: red;

			&:hover {
				color: white;
				background-color: #ff4800;
			}
		}
	}

	.delUserTip {
		position: absolute;
		display: none;
		width: 450px;
		height: 250px;
		left: calc(50vw - 225px);
		top: calc(50vh - 125px);
		background-color: #aaffff;
		border-radius: 10px;
		box-shadow: 2px 2px 2px 1px rgba(2, 2, 2, 0.3);
		flex-direction: column;
		align-items: center;
		user-select: none;

		.title {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			top: 28px;
		}

		input {
			position: relative;
			width: 280px;
			height: 32px;
			top: 64px;
			outline: none;
			border-style: solid;
			border-color: blue;
			border-width: 2px;
			border-radius: 5px;

			&:focus {
				border-color: rgb(255, 0, 157);
				border-width: 3px;
				box-shadow: 0 0 5px rgb(255, 0, 157);
			}
		}

		.buttons {
			position: absolute;
			display: flex;
			bottom: 45px;
			width: 45%;
			justify-content: space-between;
			align-items: center;

			.ok,
			.cancel {
				width: 64px;

				&:hover {
					cursor: pointer;
					background-color: #ff4800;
					color: #ffffff;
					border-radius: 5px;
				}
			}
		}
	}
}

.userLoginData {
	display: none;
}