* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #7bf6ff;
}

.formbody {
	display: flex;
	position: relative;
	top: 15vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;

	.title {
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			height: 76px;
			border-width: 3px;
			border-style: solid;
			border-color: blue;
			border-radius: 50%;
			margin-right: 24px;
		}

		.text {
			font-size: 45px;
		}
	}

	form {
		position: relative;
		margin-top: 45px;

		.text {
			font-size: 24px;
		}

		input {
			width: 300px;
			height: 36px;
			border-radius: 4px;
			border-style: solid;
			border-width: 2px;
			border-color: #1100ff;
			font-size: 20px;
			outline: none;

			&:focus {
				border-color: rgb(255, 0, 157);
				border-width: 3px;
				box-shadow: 0 0 5px rgb(255, 0, 157);
			}
		}

		.userName,
		.pwd {
			position: relative;
			margin-top: 64px;
			display: flex;
			justify-content: center;
			align-items: center;

			.description {
				font-size: 12px;
				position: relative;
				left: 100px;
				top: 5px;
			}
		}

		.userName {
			left: -11px;
		}
	}

	.ok {
		position: relative;
		width: 156px;
		height: 36px;
		line-height: 36px;
		left: 16px;
		text-align: center;
		top: 80px;
		font-size: 24px;

		&:hover {
			cursor: pointer;
			background-color: #ff5e00;
			color: #ffffff;
			border-radius: 6px;
		}
	}

	.forget {
		position: relative;
		width: 156px;
		height: 20px;
		line-height: 20px;
		left: 16px;
		text-align: center;
		top: 100px;
		font-size: 16px;

		&:hover {
			cursor: pointer;
			background-color: #ff5e00;
			color: #ffffff;
			border-radius: 6px;
		}
	}

	.requesting {
		position: relative;
		top: 135px;
		display: none;
		justify-content: center;
		align-items: center;

		img {
			height: 64px;
		}

		.tip {
			margin-left: 10px;
			font-size: 24px;
		}
	}
}

.forget-queryEmail {
	.frame {
		justify-content: flex-start;
		font-size: 24px;

		.tip {
			margin-top: 10%;
		}

		input {
			margin-top: 2%;
		}

		.box {
			margin-top: 5%;
			height: 45%;
			width: 90%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			border: blue 2px solid;
			border-radius: 10px;

			p {
				font-size: 16px;
			}
		}

		.close {
			margin-top: 4%;
			width: 64px;
		}
	}
}